@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}
body {
	color: white;
}
.section {
}
.main-heading {
	@apply text-6xl font-bold;
}
.link {
	@apply text-text transition duration-300 font-semibold hover:bg-hoverColor uppercase py-2 px-3 rounded-md ml-1;
}

.flutterLink {
	@apply text-text  font-semibold rounded-md uppercase py-2 px-3 bg-gradient-to-r from-blue-700 to-blue-500 ml-1;
	transition: 300ms scale;
	scale: 1;
}

.mainLink {
	@apply text-text  font-semibold rounded-md uppercase py-2 px-3 bg-gradient-to-r from-green-400 to-blue-600 ml-1;
	transition: 300ms scale;
	scale: 1;
}

.flutterLink:hover,
.mainLink:hover {
	scale: 1.1;
}

.rig {
	animation: rig 0.8s infinite alternate linear;
}

.contactLink {
	@apply text-text transition duration-300 font-semibold hover:bg-hoverColor py-2 px-3 rounded-md ml-1;
}

@keyframes rig {
	from {
		transform: translateY(5px);
	}
	to {
		transform: translateY(-5px);
	}
}
